{% extends 'base/base-bulma.html' %}
{% block title %}Novo post{% endblock title %}
{% block seo %}
{{ block.super }}
<meta content="Novo post" name="description">
{% endblock seo %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Novo post</h1>
        <form method="post">
            {% include "base/snippets/form.html" %}
            <div class="control">
                <button class="button is-primary">Publicar</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}